<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxm.druid.mapper.biz.WxmApiMapper">
    <select id="selectByCon" resultType="com.wxm.druid.entity.biz.WxmApi">
        select *
        from wxm_api a where 1=1
        <if test="apiId!=null">
            and a.api_id=#{apiId,jdbcType=BIGINT}
        </if>
        <if test="apiTitle!=null and apiTitle.length()>0">
            and a.api_title like concat(#{apiTitle,jdbcType=VARCHAR},'%')
        </if>
        <if test="apiCode!=null and apiCode.length()>0">
            and a.api_code=#{apiCode,jdbcType=VARCHAR}
        </if>
        <if test="apiUrl!=null and apiUrl.length()>0">
            and a.api_url=#{apiUrl,jdbcType=BIGINT}
        </if>
        <if test="apiStatus!=null and apiStatus.length()>0">
            and a.api_status=#{apiStatus,jdbcType=BIGINT}
        </if>
        <if test="creator!=null and creator.length()>0">
            and a.creator=#{creator,jdbcType=VARCHAR}
        </if>

        <if test="roleId!=null">
            and exists(
            select 1 from wxm_role_api ra where ra.api_id=a.api_id
            and ra.role_id=#{roleId,jdbcType=BIGINT}
            )
        </if>
    </select>

    <select id="selectByConNonRole" resultType="com.wxm.druid.entity.biz.WxmApi">
        select *
        from wxm_api a where 1=1
        <if test="apiId!=null">
            and a.api_id=#{apiId,jdbcType=BIGINT}
        </if>
        <if test="apiTitle!=null and apiTitle.length()>0">
            and a.api_title like concat(#{apiTitle,jdbcType=VARCHAR},'%')
        </if>
        <if test="apiCode!=null and apiCode.length()>0">
            and a.api_code=#{apiCode,jdbcType=VARCHAR}
        </if>
        <if test="apiUrl!=null and apiUrl.length()>0">
            and a.api_url=#{apiUrl,jdbcType=BIGINT}
        </if>
        <if test="apiStatus!=null and apiStatus.length()>0">
            and a.api_status=#{apiStatus,jdbcType=BIGINT}
        </if>
        <if test="creator!=null and creator.length()>0">
            and a.creator=#{creator,jdbcType=VARCHAR}
        </if>

        <if test="roleId!=null">
            and not exists(
            select 1 from wxm_role_api ra where ra.api_id=a.api_id
            and ra.role_id=#{roleId,jdbcType=BIGINT}
            )
        </if>
    </select>

    <select id="selectByUsername" resultType="com.wxm.druid.entity.biz.WxmApi">
        select * from wxm_api a
        where a.api_status='1'
          and exists(
                select 1 from wxm_role_api ra,wxm_role r
                where a.api_id=ra.api_id
                  and ra.role_id=r.role_id
                  and r.role_status='1'
                  and exists(
                        select 1 from wxm_group_role gr,wxm_group g
                        where r.role_id=gr.role_id
                          and gr.group_id=g.group_id
                          and g.group_status='1'
                          and exists(
                                select 1 from wxm_user_group ug,wxm_user u
                                where g.group_id=ug.group_id
                                  and ug.user_id=u.user_id
                                  and u.user_status='1'
                                  and u.username=#{username,jdbcType=VARCHAR}
                            )
                    )
            )
    </select>

    <!--查询所有接口信息，包含是否授权给角色，角色为空时，是否授权全部为否0     rbac71005-->
    <select id="selectByConAboutRole" resultType="com.wxm.druid.entity.biz.WxmApi">
        select a.api_id,a.api_title,a.api_code,a.api_url,a.api_status,a.creator,a.create_time,a.operator,a.update_time,a.api_desc,
        ifnull((select '1' from wxm_role_api ra where ra.api_id=a.api_id and ra.role_id=#{roleId,jdbcType=BIGINT}),'0') as checked
        from wxm_api a where a.api_status='1'
        <if test="apiId!=null">
            and a.api_id=#{apiId,jdbcType=BIGINT}
        </if>
        <if test="apiTitle!=null and apiTitle.length()>0">
            and a.api_title like concat(#{apiTitle,jdbcType=VARCHAR},'%')
        </if>

    </select>
</mapper>
