<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxm.druid.mapper.biz.WxmUserGroupMapper">
    <delete id="deleteBatchByGroupIdAndUserIds">
        delete from wxm_user_group
        where group_id=#{groupId,jdbcType=BIGINT}
        and user_id in
        <foreach item="userId" collection="list" open="(" close=")" separator=",">
            #{userId,jdbcType=BIGINT}
        </foreach>
    </delete>
    <!--不与上面和成一个，上面的是groupId不能为空-->
    <delete id="deleteBatchByUserIds">
        delete from wxm_user_group
        where user_id in
        <foreach item="userId" collection="list" open="(" close=")" separator=",">
            #{userId,jdbcType=BIGINT}
        </foreach>
    </delete>


    <delete id="deleteBatchByGroupIds">
        delete from wxm_user_group
        where group_id in
        <foreach item="groupId" collection="list" open="(" close=")" separator=",">
            #{groupId,jdbcType=BIGINT}
        </foreach>
    </delete>
</mapper>
